/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(200, 20%, 98%);
    --btn-background: rgb(200, 10%, 91%);
    --btn-background-hover: rgb(200, 10%, 89%);
    --foreground: rgb(200, 50%, 3%);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: rgb(28, 22, 12);
      --btn-background: rgb(200, 10%, 9%);
      --btn-background-hover: rgb(200, 10%, 12%);
      --foreground: rgb(200, 20%, 96%);
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

/* Example button styles using the variables */
.button {
  background-color: var(--btn-background);
  color: var(--foreground);
}

.button:hover {
  background-color: var(--btn-background-hover);
}
