
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem; 
    width: 100%;
    background-color: #010414;
  }
  
  .textareaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem; 
  }
  .textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    background-color: #010414;
   padding: 5px;
   color: #f9f9fb;
   border: 0.5px solid #f9f9fb2a  ;
    font-size: 2rem; 
    font-weight: bold; 
    font-family: "Playfair Display", serif;
  }
.textarea::placeholder{
   color: #c9c9e33f;
  
}  
  .group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .hiddenContent {
    opacity: 0;
    transition: opacity 0.3s ease; /* Equivalent to transition-opacity */
  }
  
  .group:hover .hiddenContent {
    opacity: 1;
  }
  
  .button {
    background-color: transparent; 
    color: #4a4a4a; 
    border-radius: 0.375rem; 
    padding-left: 0.75rem; 
    padding-right: 0.75rem;
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #e0e0e0;} 
  

 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9fb;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  .aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .section {
   border: 1px solid #ffffff75;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    color: #fff;
  }
  
  .section h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
  }
  
  .toDoList input, .toDoList button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-right: 10px;
  }
  
  .toDoList button {
    background-color: #240d29;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .toDoList button:hover {
    background-color: #fff;
    transform: scale(1.05);
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .listItem:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 768px) {
    .section {
      width: calc(33.333% - 20px);
    }
  }
  
  