/* styles/Dashboard.module.css */

.dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #333;
    padding: 10px;

    width: 95%;
    box-sizing: border-box;
  }
  .aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
   
  }
  
  .createContentButton {
    position: absolute;
    top: 20px;
    right: 70px;
    background-color: #ddd5df;
    color: rgb(129, 21, 21);
    font-size: 1rem;
    padding: 10px 20px;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
   
  }
  
  .createContentButton:hover {
    background-color: #c143da;
    transform: scale(1.05);
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .profile img {
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile .name {
    font-size: 1.8rem;
    color: #c143da;
    font-weight: bold;
  }
  
  .metrics {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .metricItem {
    background-color: #1e1b33;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
    transition: transform 0.3s;
  }
  
  .metricItem:hover {
    transform: translateY(-5px);
  }
  
  .metricItem h2 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .metricItem p {
    font-size: 2rem;
    color: #c9c9e3;
    font-weight: bold;
  }
  
  .recentActivity, .notifications, .quickLinks, .searchBar, .toDoList, .recentMessages, .statsGraph, .trendingTopics, .calendar {
    background-color: #1e1b33;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .recentActivity h2, .notifications h2, .quickLinks h2, .searchBar h2, .toDoList h2, .recentMessages h2, .statsGraph h2, .trendingTopics h2, .calendar h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 5px;
  }
  
  .activityList, .notificationList, .quickLinksList, .toDoListItems, .messagesList, .trendingList, .calendarItems {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .activityList li, .notificationList li, .quickLinksList li, .toDoListItems li, .messagesList li, .trendingList li, .calendarItems li {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .activityList li:last-child, .notificationList li:last-child, .quickLinksList li:last-child, .toDoListItems li:last-child, .messagesList li:last-child, .trendingList li:last-child, .calendarItems li:last-child {
    border-bottom: none;
  }
  
  .quickLinks a {
    display: block;
    background-color: #240d29;
    color: #fff;
    text-align: center;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .quickLinks a:hover {
    background-color: #49344e;
    transform: translateY(-3px);
  }
  
  .searchBar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .toDoList input, .toDoList button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-right: 10px;
  }
  
  .toDoList button {
    background-color: #240d29;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .toDoList button:hover {
    background-color: #c143da;
    transform: scale(1.05);
  }